<div class='jumbotron'>
  <h2><%= @product.name %></h2>
  <h3>Price:  $<%= @product.cost %></h3>
  <h4>Made in: <%= @product.country_of_origin %></h4>

  <% if @product.reviews.any? %>
    <h4>Here are the reviews for this product:</h4>
    <% @product.reviews.each do |review| %>
      <ul>
        <li>
          <p>from customer: <%= link_to review.author, product_review_path(@product, review) %></p>
        </li>
      </ul>
    <% end %>
  <% else %>
    <p>No reviews are listed for this product.</p>
  <% end %>

  <p><%= link_to "Add a review", new_product_review_path(@product), class: 'btn btn-warning' %></p>
  <% if is_admin? %>
    <%= link_to "Edit", edit_product_path(@product), class:"btn btn-secondary" %>
    <%= link_to "Delete", product_path(@product), class:"btn btn-secondary",
                            :data => {:confirm => "You sure?",
                                      :method => "delete"} %>
  <% end %>                                    
  <%= link_to "Return to products", products_path, class:"btn btn-dark" %>
</div>